{% extends "base.html" %}

{% block title %}Contact - Dalton Clinton{% endblock %}

{% block content %}
<h1>Contact Me</h1>
<p>If you would like to get in touch, you can reach me through the following channels:</p>
<div class="contact-info">
    <ul>
        <li><i class="fas fa-envelope"></i><a href="mailto:daltonclinton@daltonclinton.com">daltonclinton@daltonclinton.com</a></li>
        <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/daltonclinton" target="_blank">Linkedin</a></li>
        <li><i class="fab fa-github"></i><a href="https://github.com/thisismewinning" target="_blank">Github</a></li>
    </ul>
</div>
{% endblock %}
