{% extends "base.html" %}
{% block title %}DevLog{% endblock %}
{% block content %}
<div class="devlog-header">
    <h1>DevLog</h1>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('new_post') }}" class="btn btn-primary">Create New Post</a>
    {% else %}
        <p><a href="{{ url_for('login') }}">Login</a> to create a new post.</p>
    {% endif %}
</div>
<hr>
<div class="posts-container">
    {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </div>
            {% if post.image_file %}
                <img src="{{ url_for('static', filename=post.image_file) }}" alt="Image" class="post-thumbnail">
            {% endif %}
            {% if post.video_file %}
                <video controls class="post-thumbnail">
                    <source src="{{ url_for('static', filename=post.video_file) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <div class="post-footer">
                {% set profile_pic = post.author.image_file if post.author.image_file != 'default.jpg' else 'default.jpg' %}
                <img src="{{ url_for('static', filename=profile_pic) }}" alt="Profile Picture">
                <div class="user-info">
                    <h2>{{ post.author.username }}</h2>
                    <p>{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
                </div>
            </div>
            {% if current_user.is_authenticated and (post.author == current_user or current_user.is_admin) %}
                <div class="post-controls">
                    <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-secondary post-button">Edit</a>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" class="d-inline post-button-form" onsubmit="return confirmDelete()">
                        <button type="submit" class="btn btn-danger post-button">Delete</button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="post-divider"></div>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script>
function confirmDelete() {
    return confirm('Are you sure you want to delete this post?');
}
</script>
{% endblock %}
