{% extends "base.html" %}

{% block title %}Projects - Dalton Clinton{% endblock %}

{% block content %}
<h1>Projects</h1>
<div class="projects">
    <div class="project">
        <h2>Project 1: daltonclinton.com</h2>
        <p>Personal portfolio website. Built using Python, Flask, HTML, CSS, and SQL running on Linux server</p>
        <a href="https://github.com/ThisIsMeWinning/portfolio-website" target="_blank">GitHub Repository</a>
    </div>
    <div class="project">
        <h2>Project 2: Title of the Project</h2>
        <p>Description of the project, what technologies were used, what problems it solves, and any other relevant details.</p>
        <a href="https://github.com/yourusername/project2" target="_blank">GitHub Repository</a>
    </div>
    <div class="project">
        <h2>Project 3: Title of the Project</h2>
        <p>Description of the project, what technologies were used, what problems it solves, and any other relevant details.</p>
        <a href="https://github.com/yourusername/project3" target="_blank">GitHub Repository</a>
    </div>
    <!-- Add more projects as needed -->
</div>
{% endblock %}
